/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Test */
.border-test {
  border: 3px dashed lightgreen ;
}

/* Generali e flex */
.container {
  width: 70%;
  margin: 0 auto;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: space-around; */
}

.flex-j-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Header */
.navigation {
  background-color: #ff6900;
  height: 3rem;

  margin-bottom: 3rem;
}

.header-container {
  height: 3rem;
  /* Momentaneamente stessa altezza di .navigation */
  font-size: .8rem;
  font-weight: bold;
  color: white;
}

/* header nav {
  min-width: 20px;
  background-color: darkorchid;
} */

header ul {
  list-style: none;
}

header li {
  /* line-height: 3rem; */
  margin-right: 1rem;
}

.logo {
  /* min-width: 20px;
  background-color: purple; */

  height: 70%;

}

.shop-profile {
  /* min-width: 20px;
  background-color: orchid; */

  height: 100%;
  padding: .7rem 0 0.5rem 0;
}

/* Main */
main section.container {
  min-height: 1000px;
  background-color: darkorange;

  margin-bottom: 3rem;
}

article.product {
  background-color: cornflowerblue;
  height: 550px;

  width: calc((100% / 3) - 1rem);
  margin:  1.5rem .5rem;
  /* position: relative; */
}

.product-img-container {
  position: relative;
}

article.product span.sale,
article.product span.sustainability {
  color: white;
  font-size: .7rem;
  font-weight: bold;
  position: absolute;
  bottom: 2rem;
  padding: .2rem;
}

article.product span.sale {
  left:0;
  background-color: red;
}

article.product span.sustainability {
  left: 2.5rem;
  background-color: green;

}

article.product span.like {
  position: absolute;
  top: .5rem;
  right:0;
  font-size: 1.6rem;
  background-color: white;
  padding: .4rem 0.7rem;
}

article.product img{
  width: 100%;
}

div .brand-name {
  font-size: small;
}

div .product-type {
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: bold;
}

div .price {
  font-size: small;
  color: red;
  font-weight: bold;
}

div span.line-through {
  color: black;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: .2rem;
}

/* Footer */
.footer-nav {
  background-color: red;
  height: 3rem;
}

.footer-container {
  height: 3rem;
  /* Momentaneamente stessa altezza di footer */
}

.legal-info {
  min-width: 20px;
  background-color: purple;

  height: 100%;
}

.social {
  min-width: 20px;
  background-color: orchid;

  height: 100%;  
}